/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
.screen {
  position:relative;
  height: 670px;
  width:670px;
  padding:70px;
}
.header {
  height:auto;
  position:relative;
}
.footer {
  position:absolute;
  bottom:40px;
  left:70px;
  right:70px;
}
.card-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:32px;
  padding:5px 10px 15px;
  background:#fff;
  border-top:1px solid #aaa;
  border-radius: 0 0 4px 4px;
}

/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h1, h2, h3, h4 {
  font-size: 5em;
  font-weight: normal;
  margin-bottom:.4em;
  letter-spacing: -.02em;
}
h1 {font-size: 2.4em;}
h2 {font-size: 1.8em;}
h3 {font-size:1.4em;}
p {
  font-size:1.4em;
  line-height:1.4em;
  margin-bottom: 1.2em;
}
.section-title {
  padding: 10px 10px;
  background:#1f75bd;
  border-radius: 4px 4px 0 0;
}
.section-title h2 {
  color:#fff;
  margin:0;
}
.btn-area {
  text-align:center;
}
.btn {
  font-weight: bolder;
  display: inline-block;
  margin: 0 5px;
  padding: 10px 25px;
  text-align:center;
  font-size:1.6em;
  line-height:1em;
  border:1px solid #aaa;
  border-radius:4px;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.3), 1px 2px 1px 0 rgba(0,0,0,.2);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* =============================================================================
   NAVIGATION
   ========================================================================== */


/* =============================================================================
   HEADER
   ========================================================================== */
.page-title {padding:12px 10px;}
.page-title h1 {float:left;}
.send-request {
  float:right;
  position:relative;
  top:30px;
}
.user {
  min-height:70px;
  position:relative;
  margin-bottom:30px;
  padding:20px 20px 20px 104px;
  background: rgba(0,0,0,.3);
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.6);
}
.user .user-photo {
  width:64px;
  height:64px;
  position:absolute;
  left:20px;
  top:20px;
  border:3px solid #fff;
  border-radius: 4px;
  overflow: hidden;
}
.user-photo img {width: 100%;}
.user p {
  color:#e7e7e7;
  margin:0;
}
.user p strong {
  color:#fff;
  font-weight: bolder;
}

/* =============================================================================
   SCORE
   ========================================================================== */
.score {
  text-align:center;
  margin-bottom:60px;
}
.score-number {
  display: inline-block;
  letter-spacing: -.04em;
  line-height:1em;
  text-align:center;
  border-radius: 4px;
  padding:7px 5px;
  margin: 0 10px;
  background:#dee528;
  color:#2b2b2b;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .6), inset 0 -1px 0 0 rgba(255, 255, 255, .2), inset 0 0 20px 0 rgba(0,0,0,.3);
}
.score-me, .score-opponent, .score-versus {
  margin:0;
  width:320px;
  height:32px;
  float:left;
  font-weight: lighter;
  line-height:1em;
  display: block;
  text-align:left;
  vertical-align: middle;
  overflow: hidden;
}
.score-versus {
  width: 30px;
  text-align:center;
}
.score-me {text-align:right;}
.score-me .score-number {margin-left:10px;}
.score-opponent .score-number {margin-right:10px;}
.score .user-photo {
  display: inline-block;
  width:32px;
  height:32px;
  margin: 0 5px;
}

/* =============================================================================
   PATTERNS
   ========================================================================== */
/* admin */
.link-admin, .link-quit, .link-about {
  display: inline-block;
  position:absolute;
  right: 0;
  top: 20px;
  padding: 10px;
  border-radius: 50%;
}
.link-about {
  width: 16px;
  height:16px;
  padding:5px;
  top:-40px;
}

/* games list */
.games {
  background:#fff;
  border-radius: 4px;
  box-shadow: 1px 2px 1px 0 rgba(0,0,0,.3);
}
.games-yourturn, .games-opponentsturn {
  float:left;
  width: 320px;
}
.games-yourturn {margin-right:30px;}
.games-list {
  max-height:265px;
  overflow-y: auto;
  background:#fff;
  border-radius: 0 0 4px 4px;
}
.games-item {border-bottom:1px solid #e7e7e7;}
.game, .new-game {
  overflow: hidden;
  color:#777;
  display: block;
  height:32px;
  position:relative;
  background:#fff;
  padding: 10px 10px 10px 52px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.game:hover, .game:focus {background-color:#f8f3c7;}
.game .user-img {
  width:32px;
  height:32px;
  position:absolute;
  left:9px;
  top:9px;
  border:1px solid #aaa;
}
.game .user-name {
  color:#2b2b2b;
  display: block;
  font-size:1.4em;
  line-height:1em;
}
.game .score-opponent {
  display: block;
  position:relative;
  left:-4px;
  font-size:1.4em;
}
.game .ic-arrow {
  position: absolute;
  right: 10px;
  top:7px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.game:hover .ic-arrow, .game:focus .ic-arrow {right:0;}
.new-game {
  padding:10px;
  height:auto;
  background:#f5f5f5;
  border-top:1px solid #e7e7e7;
  border-radius: 0 0 4px 4px;
}
.new-game .btn {display: block;}

/* MODAL */
.modal {
  position:absolute;
  z-index:10;
  top:170px;
  left:140px;
  right:140px;
  padding: 30px;
  max-height: 600px;
  overflow-y:auto;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,.6), 0 0 30px 10px rgba(0,0,0,.2);
  background:#fff;
}
.modal h2 {
  color:#1673bd;
  font-size:3em;
}
.modal strong {color:#2b2b2b;}

.modal { display: none; }

/* =============================================================================
   CARD
   ========================================================================== */
.cards-yourturn, .cards-opponentsturn {
  position:relative;
  float:left;
  width: 320px;
  height: 420px;
}
.cards-yourturn {margin-right:30px;}

.card {
  overflow: hidden;
  position: absolute;
  z-index:3;
  width: 320px;
  height: 420px;
  box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6);
  border-radius: 6px;
}
.card-front {
  background-color:#2b2b2b;
  background-image: -webkit-linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
  background-image: -moz-linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
  background-image: -o-linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
  background-image: -ms-linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
  background-image: linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
}
.card-back {
  background-color:#e7e7e7;
  background-image: -webkit-linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
  background-image: -moz-linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
  background-image: -o-linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
  background-image: -ms-linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
  background-image: linear-gradient(135deg, transparent, rgba(0,0,0,.1) 35%, rgba(0,0,0,.1) 65%, transparent);
}
.card-won {
  box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #afff50;
  -webkit-animation: card-won .8s linear 0 1 normal forwards;
     -moz-animation: card-won .8s linear 0 1 normal forwards;
       -o-animation: card-won .8s linear 0 1 normal forwards;
       -ms-animation: card-won .8s linear 0 1 normal forwards;
          animation: card-won .8s linear 0 1 normal forwards;
}
@-webkit-keyframes card-won {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #afff50;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #afff50;}
}
@-moz-keyframes card-won {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #afff50;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #afff50;}
}
@-o-keyframes card-won {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #afff50;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #afff50;}
}
@-ms-keyframes card-won {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #afff50;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #afff50;}
}
@keyframes card-won {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #afff50;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #afff50;}
}
.card-lose {
  box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #ff5050;
  -webkit-animation: card-lose .8s linear 0 1 normal forwards;
     -moz-animation: card-lose .8s linear 0 1 normal forwards;
       -o-animation: card-lose .8s linear 0 1 normal forwards;
       -ms-animation: card-lose .8s linear 0 1 normal forwards;
          animation: card-lose .8s linear 0 1 normal forwards;
}
@-webkit-keyframes card-lose {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #ff5050;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #ff5050;}
}
@-moz-keyframes card-lose {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #ff5050;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #ff5050;}
}
@-o-keyframes card-lose {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #ff5050;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #ff5050;}
}
@-ms-keyframes card-lose {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #ff5050;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #ff5050;}
}
@keyframes card-lose {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #ff5050;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #ff5050;}
}
.card-draw {
  box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #D4C332;
  -webkit-animation: card-draw .8s linear 0 1 normal forwards;
     -moz-animation: card-draw .8s linear 0 1 normal forwards;
       -o-animation: card-draw .8s linear 0 1 normal forwards;
       -ms-animation: card-draw .8s linear 0 1 normal forwards;
          animation: card-draw .8s linear 0 1 normal forwards;
}
@-webkit-keyframes card-draw {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #D4C332;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #D4C332;}
}
@-moz-keyframes card-draw {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #D4C332;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #D4C332;}
}
@-o-keyframes card-draw {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #D4C332;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #D4C332;}
}
@-ms-keyframes card-draw {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #D4C332;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #D4C332;}
}
@keyframes card-draw {
  0%, 40%, 80%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 0 0 #D4C332;}
  20%, 60%, 100%   {box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), 0 0 30px 2px #D4C332;}
}
.card-supertrunfo:before {
  content: "";
  display: block;
  position:absolute;
  z-index: 3;
  top: 70px;
  left: 0;
  width:64px;
  height:64px;
  background:transparent url(../img/sprite.png) no-repeat -192px 0;
}

.cards-deck:before {
  content: "";
  display: block;
  position: absolute;
  top:3px;
  left:3px;
  z-index:1;
  width: 320px;
  height: 420px;
  background:#e7e7e7;
  box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6), -2px 2px 0 1px #fff, -4px 2px 2px 2px rgba(0,0,0,.6);
  border-radius: 6px;
}
.cards-one:before {
  content: "";
  display: block;
  position: absolute;
  top:3px;
  left:3px;
  z-index:1;
  width: 320px;
  height: 420px;
  background:#e7e7e7;
  box-shadow: inset 0 0 0 10px #fff, 2px 2px 2px 0 rgba(0,0,0,.6);
  border-radius: 6px;
}
.card-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47px 0 0 -81px;
  width:162px;
  height:95px;
  display: block;
  background:transparent url(../img/card-logo.png) no-repeat 0 0;
}
.card-id {
  position:absolute;
  z-index:3;
  left:0px;
  top:0px;
  display: block;
  padding:10px;
  font-size:2em;
  font-weight: bolder;
  line-height:1em;
  letter-spacing: -0.06em;
  color:#2b2b2b;
  border-radius: 6px 0 6px 0;
  background:#fff;
}
.card-photo {
  position:absolute;
  z-index:3;
  right:10px;
  top:10px;
  overflow: hidden;
  display: block;
  width:80px;
  height: 77px;
  background:#fff;
}
.card-photo img {width:100%;}
.card-name-party {
  margin: 10px 10px 0;
  padding:10px 94px 10px 50px;
  height: 84px;
  display: block;
  position:relative;
  z-index:2;
  font-size:2.2em;
  letter-spacing: -0.06em;
  line-height:1.2em;
  color:#fff;
  font-weight: normal;
  background:#1f75bd;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 150%);
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 150%);
  background-image: linear-gradient(top, rgba(0,0,0,0) 60%, rgba(0,0,0,0.3) 150%);
}
.card-party {
  position:relative;
  z-index:3;
  display: block;
  margin-top:5px;
  height:auto;
  font-weight: lighter;
  letter-spacing: +0.06em;
  font-size:14px;
  color:#2b2b2b;
}
.card-party strong {
  font-weight: bolder;
  color:#fff;
}
.view-info {
  display: inline-block;
  padding:3px 0;
  width: 80px;
  font-size:14px;
  text-align:center;
  background:#2b2b2b;
  letter-spacing: +0.06em;
  color:#fff;
  position:absolute;
  bottom:0;
  right:0;
}
.view-info:hover, .view-info:focus {color:#dee528;}
.card-data {
  position:absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index:1;
  background:#f5f5f5;
}
.card-label {
  cursor: pointer;
  clear:both;
  display: block;
  overflow: hidden;
  padding:15px 10px 15px 10px;
  height:43px;
  border-bottom:1px solid rgba(0,0,0,.3);
  position:relative;
  background:#e7e7e7;
  color:#2b2b2b;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card-label:hover, .card-label:focus {background-color:#f8f3c7;}
.card-label.selected {background:#dee528;}
.card-won .card-label.selected {background:#87c241;color:#fff;}
.card-lose .card-label.selected {background:#c24141;color:#fff;}
.card-label.last {border-bottom:none;}
.card-label-item {
  display: block;
  width:56%;
  float:left;
  margin-right: 4%;
  text-align: left;
  font-size:1.6em;
  line-height:43px;
  font-weight: bolder;
}
.card-label-value {
  display: block;
  width:40%;
  float:left;
  font-size:3em;
  font-weight: bolder;
  letter-spacing: -.06em;
  text-align: center;
  text-transform: uppercase;
  line-height:1.2em;
}
.card-label-escolaridade {
  font-size: 1.4em;
}
.attribute-detail {
  color: #1F75BD;
}
.card-bio {
  height:64px;
  position:absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index:1;
  padding:20px;
  overflow: hidden;
  background:#2b2b2b;
  box-shadow: inset 0 0 30px -15px rgba(0,0,0,.7);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card-bio p {
  line-height: 1.6em;
  color:#f5f5f5;
}
.card-info .card-bio {
  top: 114px;
  height:254px;
}

.cards-opponentsturn .card-back {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;

  -ms-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;

  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.cards-opponentsturn .card-front {
  background-color:#333;
  -webkit-transform: rotateY(-45deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateY(-45deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;

  -ms-transform: rotateY(-45deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;

  transform: rotateY(-45deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.cards-opponentsturn .card-back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
}
.cards-opponentsturn.cards-flip .card-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 0;
}
.cards-opponentsturn .card-front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 0;
}
.cards-opponentsturn.cards-flip .card-front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
}

/* =============================================================================
   FOOTER
   ========================================================================== */
.footer p {
  text-align:center;
  font-size:12px;
  color:#ccc;
}
.footer a{
  font-weight: bolder;
  color:#fff;
}

/* =============================================================================
   HOME
   ========================================================================== */
.introduction-logo {
  position: absolute;
  z-index:2;
  top:35%;
  left:50%;
  margin-left: -156px;
  -webkit-animation: introduction-logo .8s linear 0 1 normal forwards;
     -moz-animation: introduction-logo .8s linear;
     -moz-animation-fill-mode: forwards;
       -o-animation: introduction-logo .8s linear 0 1 normal forwards;
       -ms-animation: introduction-logo .8s linear 0 1 normal forwards;
          animation: introduction-logo .8s linear 0 1 normal forwards;
}
@-webkit-keyframes introduction-logo {
  0%   {
    opacity: 0;
    top:29%;
  }
  100% {
    opacity: 1;
    top:35%;
  }
}
@-moz-keyframes introduction-logo {
  0%   {
    opacity: 0;
    top:29%;
  }
  100% {
    opacity: 1;
    top:35%;
  }
}
@-o-keyframes introduction-logo {
  0%   {
    opacity: 0;
    top:29%;
  }
  100% {
    opacity: 1;
    top:35%;
  }
}
@-ms-keyframes introduction-logo {
  0%   {
    opacity: 0;
    top:29%;
  }
  100% {
    opacity: 1;
    top:35%;
  }
}
@keyframes introduction-logo {
  0%   {
    opacity: 0;
    top:29%;
  }
  100% {
    opacity: 1;
    top:35%;
  }
}

.ready .introduction-logo {
  -webkit-animation: introduction-logo-hide .5s linear 0 1 normal forwards;
     -moz-animation: introduction-logo-hide .5s linear;
     -moz-animation-fill-mode: forwards;
       -o-animation: introduction-logo-hide .5s linear 0 1 normal forwards;
       -ms-animation: introduction-logo-hide .5s linear 0 1 normal forwards;
          animation: introduction-logo-hide .5s linear 0 1 normal forwards;
}
@-webkit-keyframes introduction-logo-hide {
  0%   {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes introduction-logo-hide {
  0%   {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes introduction-logo-hide {
  0%   {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes introduction-logo-hide {
  0%   {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes introduction-logo-hide {
  0%   {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ui-games {
  display: none;
  opacity: 0;
  position:relative;
  top:-10px;
}
.ready .ui-games {
  display: block;
  -webkit-animation: ui-games .5s linear .5s 1 normal forwards;
     -moz-animation: ui-games .5s linear .5s 1 normal forwards;
       -o-animation: ui-games .5s linear .5s 1 normal forwards;
       -ms-animation: ui-games .5s linear .5s 1 normal forwards;
          animation: ui-games .5s linear .5s 1 normal forwards;
}
@-webkit-keyframes ui-games {
  0%   {
    opacity: 0;
    top:-10px;
  }
  100% {
    opacity: 1;
    top:0;
  }
}
@-moz-keyframes ui-games {
  0%   {
    opacity: 0;
    top:-10px;
  }
  100% {
    opacity: 1;
    top:0;
  }
}
@-o-keyframes ui-games {
  0%   {
    opacity: 0;
    top:-10px;
  }
  100% {
    opacity: 1;
    top:0;
  }
}
@-ms-keyframes ui-games {
  0%   {
    opacity: 0;
    top:-10px;
  }
  100% {
    opacity: 1;
    top:0;
  }
}
@keyframes ui-games {
  0%   {
    opacity: 0;
    top:-10px;
  }
  100% {
    opacity: 1;
    top:0;
  }
}

/* =============================================================================
   TURN
   ========================================================================== */
.ui-turns {position:relative; display: none;}
.turn .games, .turn .user {display: none;}
.msg {
  position:absolute;
  z-index:0;
  top:55px;
  left:20px;
  width: 240px;
  display: block;
  padding: 10px 20px;
  border-radius: 4px 4px 0 0;
  background:#2b2b2b;
  color:#fff;
  font-size:1.8em;
  line-height:1em;
  text-align:center;
}
.msg-won {background:#87c241;}
.msg-draw {background:#D4C332;}
.msg-lose {background:#c24141;}


/* =============================================================================
   FINAL
   ========================================================================== */

.final {
  position: absolute;
  top:15%;
  left:50%;
  margin-left: -212px;
  opacity:0;
  display: none;
}

.ui-final-won .final-won, .ui-final-lose .final-lose {
  -webkit-animation: final 5s linear 0 1 normal forwards;
     -moz-animation: final 5s linear 0 1 normal forwards;
       -o-animation: final 5s linear 0 1 normal forwards;
       -ms-animation: final 5s linear 0 1 normal forwards;
          animation: final 5s linear 0 1 normal forwards;
}

@-webkit-keyframes final {
  0%, 100%   {
    opacity: 0;
    top:15%;
  }
  12%, 88% {
    opacity: 1;
    top:25%;
  }
}
@-moz-keyframes final {
  0%, 100%   {
    opacity: 0;
    top:15%;
  }
  12%, 88% {
    opacity: 1;
    top:25%;
  }
}
@-o-keyframes final {
  0%, 100%   {
    opacity: 0;
    top:15%;
  }
  12%, 88% {
    opacity: 1;
    top:25%;
  }
}
@-ms-keyframes final {
  0%, 100%   {
    opacity: 0;
    top:15%;
  }
  12%, 88% {
    opacity: 1;
    top:25%;
  }
}
@keyframes final {
  0%, 100%   {
    opacity: 0;
    top:15%;
  }
  12%, 88% {
    opacity: 1;
    top:25%;
  }
}


/* =============================================================================
   FORM
   ========================================================================== */
.form label {
  color:#ccc;
  font-size:1.4em;
  line-height:1em;
  display: block;
  margin-bottom:3px;
}
.form select {
  font-size:1.4em;
  line-height:1em;
  display: block;
  padding:5px;
  width: 350px;
  border-radius:4px;
}
.user .btn-new {
  position:absolute;
  top: 53px;
  right: 15px;
}
.msg-error {
  margin-top:10px;
  padding:10px;
  display: block;
  clear:both;
  background:#ce333e;
  color:#fff;
  font-size:14px;
  border:1px solid #ad2b35;
  border-radius: 4px;
}
/* =============================================================================
   SPRITE
   ========================================================================== */
.ic-card, .ic-versus, .ic-admin, .ic-arrow, .ic-quit, .ic-about {
  display: inline-block;
  height:32px;
  width:32px;
  overflow: hidden;
  background:transparent url(../img/sprite.png) no-repeat -32px 0;
}
.score-me .ic-card {background-position: 0 0;}
.game .ic-card {
  width:16px;
  height:16px;
  background-position: 0 -32px;
  position:relative;
  top:2px;
}
.ic-versus {background-position: -64px 0;}
.ic-admin {background-position: -96px 0;}
.ic-arrow {background-position: -128px 0;}
.ic-quit {background-position: -160px 0;}
.ic-about {background-position: -16px -32px;}

