/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
html {
  background:#F6F6F6;
  font:normal normal 10px/1.2em helvetica, arial, sans-serif;
  color:#777;
}

/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {color:#2b2b2b;}




